export(chromothripsis)
export(genomeDoubling)
export(CNscore)
export(segPlot)
export(getCNthresh)
export(getDists)
export(getRearrClass)
export(bootNMF)
export(nmfFitMetrics)

importFrom('GenomicRanges','granges')
importFrom("parallel","mclapply","detectCores")
importFrom("gtools","smartbind")
importFrom("lsa","cosine")
importFrom("NMF","nmf")
importFrom("cluster","silhouette")
importFrom("copynumber","pcf")
importFrom("cluster","pam")
